#targetLength {
	width: fit-content;
	font-size: 1.25rem;
	padding: 0.75ch 1.25ch;
	margin: 1rem;
	background-color: white;
	color: black;
	font-weight: bold;
	border: 2px solid black;
	border-radius: 8px;
}
